.flash-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
 
.flash {
    text-align: center;
    width: 100%;
}
.flash.success {
    background-color: #d4edda;
    color: #155724;
  }
 
  .flash.danger {
    background-color: #f8d7da;
    color: #721c24;
  }
 
  .flash.warning {
    background-color: #fff3cd;
    color: #856404;
  }
 
