body {
    background-color: #ffffff;
    font-weight: bold;
  }
  
  #content h3 {
    
    font-weight:bold;
    font-size:2em;
    font-family: "Poppins", Poppins-Bold;
   
  }
  
  .panel {
    
    
    background-color: #D0D3D4 ;
  }
  
  
  .boton1 {
  color: white;
  background: #000000;
  border-top-right-radius: 4vw;
  border-bottom-right-radius: 4vw;
  border: none;
  padding: 1vw 2vw;
  box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.2);  
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  }
  
  .title-container {
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  }
  
  .title-text {
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 0;
  font-size: 1.2em;
  font-family: 'Poppins', sans-serif;
  }
  
  img {
  width: 200px;
  height: 150px;
  }
  
  .input-group {
  position: relative;
  }
  
  .passwordToggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #000000;
  }
  
  #password {
  padding-right: 40px;
  }

.text-decoration-none{
    color: #000000;
} 
