<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo1.png') }}">
</head>
<body>
    

    <!-- menu section -->
  
      
    <div class="footer">

        <div class="Principalfooter">
            <div class="half">
                <a href="https://wa.me/3053333330" target="_blank" rel="noopener noreferrer" class="icon-whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                Comprar
            </div>
            <div class="social-icons">
                <!-- Icono de TikTok -->
                <a href="https://www.tiktok.com/@micelu_co" target="_blank" rel="noopener noreferrer" class="icon-tiktok">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
                Tiktok
                <!-- Icono de Instagram -->
                <a href="https://www.instagram.com/micelu.co" target="_blank" rel="noopener noreferrer" class="icon-instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                Instagram
            </div>
            
      </div>
      <p>&copy; <a href="https://micelu.co/" class="footer-link">Micelu.co</a></p>
      </div>
   
   

 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>