<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta http-equiv="refresh" content="14400">

  <title>Personas</title>
  <link rel="icon" type="image/x-icon"  id="favicon1" href="{{ url_for('static', filename='images/logo1.png') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />


  <!-- bootstrap core css -->

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- responsive style -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/beneficios.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/miperfil.js') }}"></script>
  <script src="{{ url_for('static', filename='js/puntos.js') }}"></script>

</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/quesonpuntos">
            <span>
              Micelu.co
            </span>
          </a>
          <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/homepuntos">Personas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/quesonpuntos">¿Que son Puntos?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/mhistorialcompras">Compras Realizadas</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="/mpuntosprincipal">Canjea Puntos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="logout">Cerrar sesion</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                  <div class="card bg-light text-dark px-2 py-1" style="border-radius: 5px;">
                      <span class="fw-bold">Puntos</span>
                      <span id="nav-points" class="badge bg-primary ms-2">{{ total_puntos }}</span>
                  </div>
              </li>
              </ul>
            </div>
            <div class="dropdown ms-2">
              <a class="nav-link custom-dropdown-toggle" href="#" id="userDropdown" role="button">
                <i class="material-icons custom-icon">account_circle</i>
                <i class="material-icons custom-icon-arrow">arrow_drop_down</i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li><a class="custom-dropdown-item" href="/miperfil">Mi perfil</a></li>
              </ul>
            </div>
          </div>

        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!------ inicio carrusel-->
    <!<div class="section">
        <img src="{{ url_for('static', filename='images/flyer.png') }}" class="imgcelu">
      </div> <!-- Esta es la primera div cerrada correctamente -->
      
      <h1 class="titulo1">Disfruta de tus Puntos Micelu.co</h1>
      <div class="container custom-container">
        <div class="row">
          <div class="col-md-4">
            <div class="custom-card">
              <img src="{{ url_for('static', filename='images/flyerRegistro.png') }}" class="custom-card-img" alt="...">
              <div class="custom-card-body">
                <button onclick="location.href='/login'" class="btn btn-warning">Registrate ahora</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="custom-card">
              <img src="{{ url_for('static', filename='images/acumulapuntos.png') }}" class="custom-card-img" alt="...">
              <div class="custom-card-body">
                <button onclick="location.href='/acumulapuntos'" class="btn btn-warning">Acumular</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="custom-card">
              <img src="{{ url_for('static', filename='images/redimirpuntos.png') }}" class="custom-card-img" alt="...">
              <div class="custom-card-body">
                <button onclick="location.href='/redimir'" class="btn btn-warning">Descubre</button>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- Esta es la última div que cierra el contenedor principal -->
      
     
    <!-- menu section -->
    <div class="footer">

      <div class="Principalfooter">
        <div class="half">
          <a href="https://wa.me/3053333330" target="_blank" rel="noopener noreferrer" class="icon-whatsapp">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
          Comprar
        </div>
        <div class="social-icons">
          <!-- Icono de TikTok -->
          <a href="https://www.tiktok.com/@micelu_co" target="_blank" rel="noopener noreferrer" class="icon-tiktok">
            <i class="fa-brands fa-tiktok"></i>
          </a>
          Tiktok
          <!-- Icono de Instagram -->
          <a href="https://www.instagram.com/micelu.co" target="_blank" rel="noopener noreferrer"
            class="icon-instagram">
            <i class="fa-brands fa-instagram"></i>
          </a>
          Instagram
        </div>
      </div>
      <p>&copy; <a href="https://micelu.co/" class="footer-link">Micelu.co</a></p>
    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
</body>

</html>